<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".this_is") %>
  <a href="http://www.railstutorial.org/help"><%= t(".name") %></a>.
  <%= t(".app") %>
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  <%= t(".book") %></a>.
</p>
